<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/main.css">
    <title>Header</title>
  </head>
  <body>
    <h1>This is my blog website</h1>
