<%- include("partials/header.ejs") %>

<form action="/create_post">
  <input type="submit" value="Create Post" id="create-post-button">
</form>
<h2>
  Posts
</h2>
<div id="post_list">
  <%- include("partials/post_list.ejs") %>
</div>
<%- include("partials/footer.ejs") %>